$color-primary:         aliceblue;
$color-secondary:       lightyellow;
$color-tertiary:        #2cdd88;
$color-link:            darkseagreen;
$color-theme:           #2cdd88;
$color-card-bg:         #f3ede0;
$color-card-fg:         #444;
